*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Oswald', helvetica, arial, sans-serif;
}
html, body{
    background-color: #4B007F;
}
h1{
    font-size: 6.854rem;
    font-family: 'Spectral SC', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    font-family: 'Spectral SC', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #B54CFF;
    color: #5A267F;
}
header{
    border-bottom: 0.8rem solid #7700CC;
    background-color: #9500FF;
    color: #5A267F;
}


/*********************************** Horizontal Menu ***************************************/
.menu-h{
    width: 100%;
}
    .menu-h li{

        list-style: none;
        float: left;
        width: 20%;
        
        text-align: center;
        line-height: 1.2;
        border-bottom: 1px solid #5A267F;
    }


        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{

            display: block;
            
            color: #7700CC;
            text-decoration: overline;
            
            cursor: pointer;
        }



        .menu-h a:hover,
        .menu-h a:active{
            
            color: #9500FF;
            font-variant: small-caps;
            background-color: #4B007F;
        }



/*********************************** Vertical Menu ****************************************/
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{

        list-style: none;
        width: 100%;
        
        text-align: center;
    }


        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{

            display: block;
            
            color: #4B007F;
            text-decoration: none;
            
            cursor: pointer;
        }


        .menu-v a:hover,
        .menu-v a:active{
            
            color: #B54CFF;
            font-variant: inherit;
            font-style: oblique;
            text-decoration: line-through;
            background-color: #9600FF;
        }

main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}